# Entornos virtuales
venv/
env/
ENV/
.venv/

# Python
__pycache__/
*.pyc

# Archivos temporales
.DS_Store
.env

# Catboost
catboost_info/
**/catboost_info/

models/
*.pkl

catboost_info/
catboost_info_backup/
