beautifulsoup4==4.14.3
catboost==1.2.8
folium==0.20.0
geopy==2.4.1
googlemaps==4.10.0
joblib==1.5.1
lightgbm==4.6.0
matplotlib==3.10.8
numpy==1.26.4
optuna==4.4.0
pandas==2.2.2
playwright==1.54.0
plotly==6.3.0
pydeck==0.9.1
python-dotenv==1.2.2
Requests==2.33.1
scikit-learn==1.5.2
seaborn==0.13.2
shap==0.44.1
streamlit==1.54.0
streamlit_folium==0.27.1
xgboost==3.2.0
