altair==5.5.0
beautifulsoup4==4.14.2
catboost==1.2.8
folium==0.20.0
geopy==2.4.1
googlemaps==4.10.0
joblib==1.5.1
lightgbm==4.6.0
matplotlib==3.10.7
numpy==2.3.4
optuna==4.4.0
pandas==2.3.3
playwright==1.54.0
plotly==6.3.0
pydeck==0.9.1
python-dotenv==1.2.1
Requests==2.32.5
scikit_learn==1.7.2
seaborn==0.13.2
shap==0.44.1
streamlit==1.48.1
streamlit_folium==0.25.3
xgboost==3.1.1
